# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/

# Virtual environments
venv/
env/
.venv/
.env/

# dotenv file (contains your bot token)
.env

# SQLite database
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
